body {
    max-width: 700px;
    margin: auto;
    border: 20 px solid #bdc3c7;
}

.Date {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    color: #3498db;
    letter-spacing: 0.3em;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

.first {
    font-family: 'Source Sans Pro', sans-serif;
    border-left: 20 px solid #bdc3c7;
}

.blog-para {
    font-family: 'Source Sans Pro', sans-serif;
}

.last {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 3em;
}